@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: rgb(22, 7, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.left h1 {
    font-size: 2.5rem;
    cursor: pointer;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: rgb(22, 7, 36);
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }
}

.home h1 {
    color: #000;
    padding-top: 270px;
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.home p {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    width: 60vw;
    line-height: 35px;
    padding-left: 20px;
}

.home {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    
}

.home-left {
    width: 50vw;
    padding-top: 4px;
    padding-left: 20px;
}

.home-right img {
    height: 49vw;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 80px;
    opacity: 100%;
    animation: fadeIn 1.5s ease-out forwards;
}

.left {
    padding-left: 40px;
}

.right {
    padding-right: 40px;
}

.service1 h2 {
    color: #000;
    padding-left: 70px;
    padding-top: 20px;
}

.service1 p {
    color: #000;
    width: 29vw;
    font-size: 22px;
    padding-left: 70px;
    margin-bottom: 50px;

}

.service1 img {
    margin-top: 40px;
    padding-top:40px;
    height: 300px;
    padding-left: 60px;

}

.service1 h1 {
    color: #000;
    font-size: 50px;
}

.service2 h2 {
    color: #000;
    padding-left: 30px;
}

.service2 p {
    color: #000;
    width: 29vw;
    font-size: 22px;
    padding-left: 30px;
}

.service2 img {
    height: 300px;
    padding: 20px;
}

.service2 h1 {
    color: #000;
    font-size: 50px;
}

.service3 h2 {
    color: #000;
    padding-left: 30px;
}

.service3 p {
    color: #000;
    width: 29vw;
    font-size: 22px;
    padding-left: 30px;
}

.service3 img {
    height: 300px;
    padding: 20px;
    padding-right: 60px;
}

.service3 h1 {
    color: #000;
    font-size: 50px;
}

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding-bottom: 40px;
}

.tagger h1 {
    padding-top: 90px;
    color: #000;
    font-size: 45px;
}
.about{
    padding-top: 90px;
}
.about p {
    color: #000;
    font-size: 28px;
    width: 70vw;
}

.about h1 {
    padding-top: 0px;
    color: #000;
    font-size: 45px;
}

.contact1 h1 {
    color: #000;
    padding-top: 200px;
}

.contact1 p {
    padding-top: 30px;
    color: #000;
    font-size: 20px;
}

.contact1 h2 {
    color: #000;
    padding-top: 30px;
}

.links img {
    height: 60px;
    padding-left: 600px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction: row;
    padding-left: 750px;
    padding-bottom: 300px;
}

.body {
    height: fit-content;
}
.sertag{
    display: flex;
    flex-direction: column;
}

